.menu-spacer {
    flex: 1 1 auto;
}

.toolbar-link {
    margin-left: 20px;
    display: block;
}

.responsive-menu {
    display: none;
}

.mat-sidenav {
    width: 225px;
}

.menu-sidenav-container {
    height: 100%;
}

.side-nav-menu a {
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 570px) {
    .responsive-menu {
        display: block;
    }

    .toolbar-link {
        display: none;
    }
 }