<div class="form-header">
  <button type="button" class="icon-button" (click)="closeCheckModal()"
          [attr.aria-label]="'buttons.close' | translate">
    <ion-icon name="close" aria-hidden="true"></ion-icon>
  </button>
  <h1 class="form-header__title">{{ 'glider.check.title' | translate }}</h1>
</div>

<ion-content>
  <div class="form-body">
    <div class="fb-card--flush">
      <!-- type="button" is mandatory: inside a form a bare button submits -->
      <button type="button" id="checkDateInput" class="fb-row">
        <span class="fb-row__label">{{ 'glider.check.date' | translate }}</span>
        <span class="fb-row__value" [class.is-placeholder]="!gliderCheck?.date">
          @if (gliderCheck?.date) {
            {{ gliderCheck.date | date:'dd.MM.yyyy' }}
          } @else {
            {{ 'glider.check.date' | translate }}
          }
        </span>
        <ion-icon class="fb-row__chevron" name="chevron-forward" aria-hidden="true"></ion-icon>
      </button>

      <div class="fb-row fb-row--stack">
        <span class="fb-row__label" id="lbl-check-result">{{ 'glider.check.result' | translate }}</span>
        <span class="fb-row__value">
          <ion-textarea [(ngModel)]="gliderCheck.result" name="result" autocomplete="on"
                        autocorrect="on" auto-grow="true"
                        aria-labelledby="lbl-check-result"></ion-textarea>
        </span>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="form-footer">
  <ion-button expand="block" (click)="saveCheck()">
    {{ (mode === 'edit' ? 'buttons.save' : 'buttons.add') | translate }}
  </ion-button>
</ion-footer>

<ion-modal class="dateModal" trigger='checkDateInput'>
  <ng-template>
    <ion-content>
        <ion-datetime [value]="gliderCheck?.date | date:'yyyy-MM-dd'" size="cover" presentation="date" [preferWheel]="true" locale="{{ language }}" [showDefaultButtons]="true"
          doneText="{{ 'buttons.done' | translate }}" cancelText="{{ 'buttons.cancel' | translate }}" (ionChange)="changeDate($event)">
        </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>
