<h1 mat-dialog-title>{{ 'appointmentExport.title' | translate }}</h1>
<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-label>{{ 'appointmentExport.school' | translate }}</mat-label>
    <mat-select formControlName="school">
      @for (school of schools; track school) {
        <mat-option [value]="school.id">{{ school.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'appointment.state' | translate }}</mat-label>
    <mat-select formControlName="state">
      @for (state of states; track state) {
        <mat-option [value]="state">{{ 'appointment.stateValue.' + state | translate }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'appointmentExport.startDate' | translate }}</mat-label>
    <input matInput [matDatepicker]="startPicker" formControlName="startDate" required (click)="$any($event.target).select()">
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
    @if (form.get('startDate')?.hasError('required')) {
      <mat-error>
        {{ 'formMessage.required' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'appointmentExport.endDate' | translate }}</mat-label>
    <input matInput [matDatepicker]="endPicker" formControlName="endDate" required (click)="$any($event.target).select()">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
    @if (form.get('endDate')?.hasError('required')) {
      <mat-error>
        {{ 'formMessage.required' | translate }}
      </mat-error>
    }
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()">{{ 'buttons.cancel' | translate }}</button>
  <button mat-raised-button color="primary" (click)="onExport()" [disabled]="form.invalid">{{ 'buttons.export' | translate }}</button>
</mat-dialog-actions>
