@if (level) {
  <div class="fb-level-grid">
    <div class="fb-level-row">
      <span class="fb-level-row__label">{{ 'controlSheet.level.start' | translate }}</span>
      <app-start-rating [big]="true" [label]="'controlSheet.level.start' | translate" [selectedRating]="level.start" (clickRating)="saveLevel($event, 'start')"></app-start-rating>
    </div>
    <div class="fb-level-row">
      <span class="fb-level-row__label">{{ 'controlSheet.level.maneuver' | translate }}</span>
      <app-start-rating [big]="true" [label]="'controlSheet.level.maneuver' | translate" [selectedRating]="level.maneuver" (clickRating)="saveLevel($event, 'maneuver')"></app-start-rating>
    </div>
    <div class="fb-level-row">
      <span class="fb-level-row__label">{{ 'controlSheet.level.landing' | translate }}</span>
      <app-start-rating [big]="true" [label]="'controlSheet.level.landing' | translate" [selectedRating]="level.landing" (clickRating)="saveLevel($event, 'landing')"></app-start-rating>
    </div>
  </div>
}
