@use '@angular/material' as mat;

mat-form-field {
    width: 100%;

    @include mat.form-field-overrides(
        (
            container-height: 40px,
            container-vertical-padding: 8px,
        )
    );
}
