<h1 mat-dialog-title>{{ 'appointment.appointment'| translate }}</h1>
<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>{{ 'appointment.state'| translate }}</mat-label>
    <mat-select cdkFocusInitial required formControlName="state">
      @for (state of states; track state) {
        <mat-option [value]="state">
          {{ 'appointment.stateValue.' + state| translate }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (data.appointmentTypes.length > 0) {
    <mat-form-field appearance="fill">
      <mat-label>{{ 'appointment.type'| translate }}</mat-label>
      <mat-select formControlName="type" (selectionChange)="changeType($event)">
        @for (appointmentType of data.appointmentTypes; track appointmentType) {
          <mat-option [value]="appointmentType.id">
            {{appointmentType.name}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
  <div style="display: flex; gap: 16px;">
    <mat-form-field style="flex: 2;">
      <mat-label>{{ 'appointment.dateTime'| translate }}</mat-label>
      <input matInput [matDatepicker]="picker"
        placeholder="{{ 'appointment.dateTime'| translate }}"
        formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="flex: 1;">
      <mat-label>{{ 'appointment.time'| translate }}</mat-label>
      <input matInput type="time" formControlName="time">
    </mat-form-field>
  </div>
  <div style="display: flex; gap: 16px;">
    <mat-form-field style="flex: 2;">
      <mat-label>{{ 'appointment.deadline'| translate }}</mat-label>
      <input matInput [matDatepicker]="deadlinePicker"
        placeholder="{{ 'appointment.deadline'| translate }}"
        formControlName="deadline">
      <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
      <mat-datepicker #deadlinePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="flex: 1;">
      <mat-label>{{ 'appointment.time'| translate }}</mat-label>
      <input matInput type="time" formControlName="deadlineTime">
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>{{ 'appointment.meetingPoint'| translate }}</mat-label>
    <input matInput placeholder="{{ 'appointment.meetingPoint'| translate }}" formControlName="meetingPoint">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'appointment.instructor'| translate }}</mat-label>
    <mat-select formControlName="instructor">
      <mat-option [value]=""></mat-option>
      @for (teamMember of data.teamMembers; track teamMember) {
        <mat-option [value]="teamMember.user.email">
          {{teamMember.user.firstname}} {{teamMember.user.lastname}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'appointment.takeOffCoordinator'| translate }}</mat-label>
    <!-- <mat-select formControlName="takeOffCoordinator">
    <mat-option *ngFor="let teamMember of data.teamMembers" [value]="teamMember.user.email">
      {{teamMember.user.firstname}} {{teamMember.user.lastname}}
    </mat-option>
  </mat-select> -->
  <input matInput placeholder="{{ 'appointment.takeOffCoordinator'| translate }}" type="text"
    formControlName="takeOffCoordinatorText">
</mat-form-field>
<mat-form-field>
  <mat-label>{{ 'appointment.maxPeople'| translate }}</mat-label>
  <input matInput placeholder="{{ 'appointment.maxPeople'| translate }}" type="number"
    formControlName="maxPeople">
</mat-form-field>
<mat-form-field>
  <mat-label>{{ 'appointment.description'| translate }}</mat-label>
  <textarea matInput placeholder="{{ 'appointment.description'| translate }}"
  formControlName="description"></textarea>
</mat-form-field>
<div class="subscription-form" formArrayName="subscriptions">
  <button mat-mini-fab color="primary" (click)="addSubscription()">
    <mat-icon>add</mat-icon>
  </button>
  <mat-label class="subscribe-student">{{ 'appointment.subscribeStudent'| translate }}</mat-label>
  @for (subscription of subscriptions.controls; track subscription; let i = $index) {
    <div class="subscription-list" [formGroupName]="i" #subscriptionFormList>
      <button mat-icon-button color="warn" (click)="removeSubscription(i, selectStudent.value)">
        <mat-icon>remove</mat-icon>
      </button>
      <mat-form-field class="subscription-form-field">
        <mat-label>{{ 'appointment.student'| translate }}</mat-label>
        <mat-select #selectStudent formControlName="user" (selectionChange)="selected()">
          @for (student of students; track student) {
            @if (subscription.value.user === student.user?.email || !isSelected(student.user?.email)) {
              <mat-option [value]="student.user?.email">
                {{student.user?.firstname}} {{student.user?.lastname}}
              </mat-option>
            }
          }
        </mat-select>
      </mat-form-field>
    </div>
  }
</div>
<div class="guestSubscription-form" formArrayName="guestSubscriptions">
  <button mat-mini-fab color="primary" (click)="addGuestSubscription()">
    <mat-icon>add</mat-icon>
  </button>
  <mat-label class="subscribe-student">{{ 'appointment.guestSubscribeStudent'| translate }}</mat-label>
  @for (guestSubscriptions of guestSubscriptions.controls; track guestSubscriptions; let i = $index) {
    <div class="subscription-list" [formGroupName]="i" #guestSubscriptionFormList>
      <button mat-icon-button color="warn" (click)="removeGuestSubscription(i)">
        <mat-icon>remove</mat-icon>
      </button>
      <mat-form-field class="guestSubscription-form-field">
        <mat-label>{{ 'account.firstname'| translate }}</mat-label>
        <input matInput placeholder="{{ 'account.firstname'| translate }}" type="text"
          formControlName="firstname">
      </mat-form-field>
      <mat-form-field class="guestSubscription-form-field">
        <mat-label>{{ 'account.lastname'| translate }}</mat-label>
        <input matInput placeholder="{{ 'account.lastname'| translate }}" type="text"
          formControlName="lastname">
      </mat-form-field>
    </div>
  }
</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()">{{ 'buttons.cancel'| translate }}</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="form.invalid">{{ 'buttons.save'| translate }}</button>
</mat-dialog-actions>