mat-form-field {
    width: 100%;
}

.subscribe-student {
    margin-left: 15px;
}

.subscription-list {
    margin-left: 30px;
}

.subscription-form-field {
    width: fit-content;
}

.guestSubscription-form-field {
    width: 40%;
    margin-right: 5px;
}

.guestSubscription-form {
    margin-top: 10px;
}