<h1 mat-dialog-title>{{ 'buttons.change_password' | translate }}</h1>

<mat-dialog-content [formGroup]="passwordForm">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'password.oldPassword' | translate }}</mat-label>
      <input matInput
             [type]="hideOldPassword ? 'password' : 'text'"
             formControlName="oldPassword">
      <button mat-icon-button matSuffix
              (click)="hideOldPassword = !hideOldPassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideOldPassword">
        <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if (formControls.oldPassword.errors?.['required'] && (formControls.oldPassword.touched || submitted)) {
        <mat-error>{{ 'password.errors.oldPasswordRequired' | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'password.newPassword' | translate }}</mat-label>
      <input matInput
             [type]="hideNewPassword ? 'password' : 'text'"
             formControlName="newPassword">
      <button mat-icon-button matSuffix
              (click)="hideNewPassword = !hideNewPassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideNewPassword">
        <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if (formControls.newPassword.errors?.['required'] && (formControls.newPassword.touched || submitted)) {
        <mat-error>{{ 'password.errors.newPasswordRequired' | translate }}</mat-error>
      }
      @if (formControls.newPassword.errors?.['minlength'] && (formControls.newPassword.touched || submitted)) {
        <mat-error>{{ 'password.errors.newPasswordMinLength' | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'password.confirmPassword' | translate }}</mat-label>
      <input matInput
             [type]="hideConfirmPassword ? 'password' : 'text'"
             formControlName="confirmPassword">
      <button mat-icon-button matSuffix
              (click)="hideConfirmPassword = !hideConfirmPassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideConfirmPassword">
        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if (formControls.confirmPassword.errors?.['required'] && (formControls.confirmPassword.touched || submitted)) {
        <mat-error>{{ 'password.errors.confirmPasswordRequired' | translate }}</mat-error>
      }
      @if (formControls.confirmPassword.errors?.['mismatch'] && (formControls.confirmPassword.touched || submitted)) {
        <mat-error>{{ 'password.errors.passwordsMismatch' | translate }}</mat-error>
      }
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button (click)="onCancel()">{{ 'buttons.cancel' | translate }}</button>
    <button mat-raised-button 
            color="primary" 
            (click)="onSubmit()" 
            [disabled]="passwordForm.invalid">{{ 'buttons.save' | translate }}</button>
</mat-dialog-actions>
