<!--
  The import call-to-action. The labels are inputs so imports/multiple-igc can
  say "multiple files" without a second copy of the markup.
-->
@if (isIos) {
    <button type="button" class="import-card" (click)="onIosFilesSelect()">
        <ion-icon name="cloud-upload-outline" class="import-card__icon" aria-hidden="true"></ion-icon>
        <span class="import-card__text">
            <span class="import-card__title">{{ titleKey | translate }}</span>
            <span class="import-card__hint">{{ hintKey | translate }}</span>
        </span>
    </button>
} @else {
    <button type="button" class="import-card" (click)="fileUpload.click()">
        <input [multiple]="multiple" type="file" name="file" (change)="onFilesSelect($event)" #fileUpload hidden />
        <ion-icon name="cloud-upload-outline" class="import-card__icon" aria-hidden="true"></ion-icon>
        <span class="import-card__text">
            <span class="import-card__title">{{ titleKey | translate }}</span>
            <span class="import-card__hint">{{ hintKey | translate }}</span>
        </span>
    </button>
}
