@if (appearance === 'card') {

    <!-- Redesigned import call-to-action -->
    @if (isIos) {
        <button type="button" class="import-card" (click)="onIosFilesSelect()">
            <ion-icon name="cloud-upload-outline" class="import-card__icon" aria-hidden="true"></ion-icon>
            <span class="import-card__text">
                <span class="import-card__title">{{ 'flight.importIgc' | translate }}</span>
                <span class="import-card__hint">{{ 'flight.importIgcHint' | translate }}</span>
            </span>
        </button>
    } @else {
        <button type="button" class="import-card" (click)="fileUpload.click()">
            <input [multiple]="multiple" type="file" name="file" (change)="onFilesSelect($event)" #fileUpload hidden />
            <ion-icon name="cloud-upload-outline" class="import-card__icon" aria-hidden="true"></ion-icon>
            <span class="import-card__text">
                <span class="import-card__title">{{ 'flight.importIgc' | translate }}</span>
                <span class="import-card__hint">{{ 'flight.importIgcHint' | translate }}</span>
            </span>
        </button>
    }

} @else {

    <!-- Original compact button, kept for imports/multiple-igc -->
    <div>
        <div class="menu-item-wrap">
            @if (isIos) {
                <label class="custom-file-upload">
                    <ion-button color="primary" class="upload-btn" (click)="onIosFilesSelect()">
                        <ion-icon name="document"></ion-icon> IGC
                    </ion-button>
                </label>
            } @else {
                <label class="custom-file-upload">
                    <ion-button color="primary" class="upload-btn" (click)="fileUploadLegacy.click()">
                        <input [multiple]="multiple" type="file" name="file" (change)="onFilesSelect($event)" #fileUploadLegacy />
                        <ion-icon name="document"></ion-icon> IGC
                    </ion-button>
                </label>
            }
        </div>
    </div>

}
