.no-subscriptions {
    padding: 24px;
}

h1 {
    padding: 0;
    margin-bottom: 0px;
}

h1::before {
    height: 0;
}

.item-value {
    margin-top: 0px;
    margin-bottom: 10px;
}

.subscription-item {
    display: flex;
    align-items: center;
}

.subscriptionItem {
    height: auto;
}

.subscription-row {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    width: 100%;
}

.subscription-title {
    display: flex;
    align-items: center;
    gap: 4px;

    mat-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
    }
}

.subscription-comment {
    margin: 4px 0 0 0;
    white-space: pre-wrap;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.9em;
}