@if (section === 'ratings') {
  @if (controlSheet) {
    <mat-accordion multi class="fb-controlsheet-accordion">
      <mat-expansion-panel #trainingHillPanel="matExpansionPanel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="fb-controlsheet-accordion__caret" [class.fb-controlsheet-accordion__caret--open]="trainingHillPanel.expanded" aria-hidden="true">expand_more</mat-icon>
            {{ 'controlSheet.trainingHill.title' | translate }}
          </mat-panel-title>
          <mat-panel-description class="fb-controlsheet-accordion__meta">
            <span class="fb-mini-bar"><span class="fb-mini-bar__fill" [style.width.%]="ratioPercent(controlSheet.trainingHill)"></span></span>
            <span class="fb-controlsheet-accordion__count">{{ countRated(controlSheet.trainingHill) }}/{{ countTotal(controlSheet.trainingHill) }}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="fb-rating-grid">
          @for (item of controlSheet.trainingHill | keyvalue; track item) {
            @if (item.key != 'id') {
              <div class="fb-rating-row">
                <span class="fb-rating-row__label">{{ ('controlSheet.trainingHill.' + item.key) | translate }}</span>
                <app-start-rating [label]="('controlSheet.trainingHill.' + item.key) | translate" [selectedRating]="item.value" (clickRating)="saveTrainingHill($event, item.key)"></app-start-rating>
              </div>
            }
          }
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel #theoryPanel="matExpansionPanel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="fb-controlsheet-accordion__caret" [class.fb-controlsheet-accordion__caret--open]="theoryPanel.expanded" aria-hidden="true">expand_more</mat-icon>
            {{ 'controlSheet.theory.title' | translate }}
          </mat-panel-title>
          <mat-panel-description class="fb-controlsheet-accordion__meta">
            <span class="fb-mini-bar"><span class="fb-mini-bar__fill" [style.width.%]="ratioPercent(controlSheet.theory)"></span></span>
            <span class="fb-controlsheet-accordion__count">{{ countRated(controlSheet.theory) }}/{{ countTotal(controlSheet.theory) }}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="fb-rating-grid">
          @for (item of controlSheet.theory | keyvalue; track item) {
            @if (item.key != 'id') {
              <div class="fb-rating-row">
                <span class="fb-rating-row__label">{{ ('controlSheet.theory.' + item.key) | translate }}</span>
                <app-start-rating [label]="('controlSheet.theory.' + item.key) | translate" [selectedRating]="item.value" (clickRating)="saveTheory($event, item.key)"></app-start-rating>
              </div>
            }
          }
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel #altitudeFlightPanel="matExpansionPanel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="fb-controlsheet-accordion__caret" [class.fb-controlsheet-accordion__caret--open]="altitudeFlightPanel.expanded" aria-hidden="true">expand_more</mat-icon>
            {{ 'controlSheet.altitudeFlight.title' | translate }}
          </mat-panel-title>
          <mat-panel-description class="fb-controlsheet-accordion__meta">
            <span class="fb-mini-bar"><span class="fb-mini-bar__fill" [style.width.%]="ratioPercent(controlSheet.altitudeFlight)"></span></span>
            <span class="fb-controlsheet-accordion__count">{{ countRated(controlSheet.altitudeFlight) }}/{{ countTotal(controlSheet.altitudeFlight) }}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="fb-rating-grid">
          @for (item of controlSheet.altitudeFlight | keyvalue; track item) {
            @if (item.key != 'id') {
              <div class="fb-rating-row">
                <span class="fb-rating-row__label">{{ ('controlSheet.altitudeFlight.' + item.key) | translate }}</span>
                <app-start-rating [label]="('controlSheet.altitudeFlight.' + item.key) | translate" [selectedRating]="item.value" (clickRating)="saveAltitudeFlight($event, item.key)"></app-start-rating>
              </div>
            }
          }
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  } @else {
    <button mat-raised-button color="primary" (click)="addControlSheet()">{{ 'buttons.addControlSheet'| translate }}</button>
  }
}

@if (section === 'exams') {
  @if (controlSheet) {
    <div class="fb-exam-list">
      <div class="fb-exam-row">
        <span class="fb-exam-row__dot" [class.fb-exam-row__dot--done]="!!controlSheet.passTheoryExam"></span>
        <span class="fb-exam-row__label">{{ 'controlSheet.exam.theory' | translate }}</span>
        <span class="fb-exam-row__value" [class.fb-exam-row__value--done]="!!controlSheet.passTheoryExam">
          {{ controlSheet.passTheoryExam ? (controlSheet.passTheoryExam | date:'dd.MM.yyyy') : ('controlSheet.exam.notSet' | translate) }}
        </span>
        <span class="fb-exam-row__trigger">
          <button type="button" class="fb-exam-row__action" (click)="theoryPicker.open()">
            <mat-icon>event</mat-icon>
            {{ (controlSheet.passTheoryExam ? 'controlSheet.exam.change' : 'controlSheet.exam.setDate') | translate }}
          </button>
          <input class="fb-exam-row__hidden-input" tabindex="-1" [attr.aria-hidden]="true" [value]="controlSheet.passTheoryExam" [matDatepicker]="theoryPicker" (dateChange)="saveExamTheory($event.value)">
        </span>
        <mat-datepicker #theoryPicker></mat-datepicker>
      </div>
      <div class="fb-exam-row">
        <span class="fb-exam-row__dot" [class.fb-exam-row__dot--done]="!!controlSheet.passPracticeExam"></span>
        <span class="fb-exam-row__label">{{ 'controlSheet.exam.practice' | translate }}</span>
        <span class="fb-exam-row__value" [class.fb-exam-row__value--done]="!!controlSheet.passPracticeExam">
          {{ controlSheet.passPracticeExam ? (controlSheet.passPracticeExam | date:'dd.MM.yyyy') : ('controlSheet.exam.notSet' | translate) }}
        </span>
        <span class="fb-exam-row__trigger">
          <button type="button" class="fb-exam-row__action" (click)="practicePicker.open()">
            <mat-icon>event</mat-icon>
            {{ (controlSheet.passPracticeExam ? 'controlSheet.exam.change' : 'controlSheet.exam.setDate') | translate }}
          </button>
          <input class="fb-exam-row__hidden-input" tabindex="-1" [attr.aria-hidden]="true" [value]="controlSheet.passPracticeExam" [matDatepicker]="practicePicker" (dateChange)="saveExamPractice($event.value)">
        </span>
        <mat-datepicker #practicePicker></mat-datepicker>
      </div>
    </div>
  }
}
