<div class="form-header">
  <button type="button" class="icon-button" (click)="close()"
          [attr.aria-label]="'buttons.back' | translate">
    <ion-icon name="chevron-back" aria-hidden="true"></ion-icon>
  </button>
  <h1 class="form-header__title">{{ place?.name }}</h1>
</div>

<ion-content>
  <div class="form-body">
    <place-form [place]=place (savePlace)="savePlace($event)"></place-form>

    <div class="secondary-actions">
      <ion-button expand="block" fill="clear" color="danger" [disabled]="deleteDisabled"
                  (click)="delete()">{{ 'buttons.delete' | translate }}</ion-button>
    </div>
  </div>
</ion-content>

<ion-footer class="form-footer">
  <ion-button expand="block" type="submit" form="placeForm">{{ 'buttons.save' | translate }}</ion-button>
</ion-footer>
